<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="icon" href="../../static/favicon.ico">
    <title>{{title}}</title>
</head>

<header>
    <nav class="nav-menu">
        <strong id="banner-title">Charly Bueno</strong>
        <a id="about-link" class="nav-menu-links" href="/">About Me</a>
        <a id="resume-link" class="nav-menu-links" href="/resume/">Resume</a>
        <a id="Projects-link" class="nav-menu-links" href="/projects/">Projects</a>
        <a id="contact-link" class="nav-menu-links" href="/contact/">Contact Me</a>
    </nav>
</header>